<h3 class="text-center">Phase 2: Multiple Chat Sessions</h3>
<h3>{{this.userName}}</h3>
  <div class="grid">
    <cell>
      {{#each this.rooms as |room i|}}
        <button {{action "showChat" i }} type="button" class="chat-user btn btn-light" >{{room.name}}</button>
      {{/each}}
    </cell>
    <cell>
      <ChatSession
        @roomIndex={{this.selectedUser}}
        @candidateRoom={{this.userName}}
      />
    </cell>
  </div>
